// ----------------------- COLORS ---------------------------

$darkChoco: #8a3730;
$lightChoco: #ca6a52;

$black: #343434;
$medBlack: #4f4f4f;
$lightBlack: #828282;

$purple: #d633eb;
$lightPurple: #f2dbf5;

$green: #39b047;
$lightGreen: #39b047;

$fonts-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "SuperBold": 900,
);

$fonts-sizes: (
  "s-extra-small": 12px,
  "s-small": 14px,
  "s-small-regular": 16px,
  "s-regular": 18px,
  "s-extra-regular": 20px,
  "s-medium": 25px,
  "s-extra-medium": 30px,
  "s-large": 70px,
  "s-extra-large": 100px,
);
