#gallery-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADING 2 */
#gallery-page > h2{
  width: 100%;
  max-width: 67rem;
  margin: 5rem 0 4rem 0;
  color: var(--main-accent-color);
  font-size: calc(var(--x-large) - 1rem);
  text-align: center;
  line-height: 1.25;
}

/*
  CATEGORY BOX
*/
#gallery-page > .category-box{
  width: 100%;
  max-width: 67rem;
  height: auto;
  display: flex;
  overflow: auto;
}

#gallery-page > .category-box > .category{
  margin-right: 1.5rem;
  padding: .8rem 2.5rem;
  flex-shrink: 0;
  color: #FFF;
  font-size: var(--small);
  text-decoration: none;
  background-color: var(--main-color);
  border-radius: 1.6rem;
  cursor: pointer;
}

#gallery-page > .category-box > .category.active{
  background-color: var(--main-accent-color);
}

#gallery-page > .category-box > .category:hover{
  text-decoration: underline;
}



@media (max-width: 600px) {
  /* HEADING 2 */
  #gallery-page > h2{
    font-size: var(--xx-large);
  }
}