#home-page{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


/*
  HERO SECTION
*/
#home-page .hero-box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

/* DARKEN HERO SECTION */
#home-page .hero-box::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}

/* HERO SLIDER BOX */
#home-page .hero-box > .slider-box{
  width: 100%;
  height: 54rem;
  display: flex;
  overflow: hidden;
  z-index: 0;
}

#home-page .hero-box > .slider-box > .img-box,
#home-page .hero-box > .slider-box > .img-box > img{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* TEXT BOX */
#home-page .hero-box > .text-box{
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFF;
  z-index: 2;
}

#home-page .hero-box > .text-box > h2{
  margin-bottom: 2.5rem;
  font-size: calc(var(--x-large) - 8px);
}

#home-page .hero-box > .text-box > p{
  margin-bottom: 4rem;
  font-size: var(--small);
  text-align: justify;
  line-height: 1.25;
}

#home-page .hero-box > .text-box > span{
  font-size: var(--small);
  display: flex;
  align-items: center;
}

#home-page .hero-box > .text-box > span > .icon_location-ff0505{
  --icon-size: 2.8rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}


/*
  CITIZEN SECTION
*/
#home-page > .citizen-box{
  width: 100%;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXT BOX */
#home-page > .citizen-box > .text-box{
  width: 100%;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-page > .citizen-box > .text-box > h2{
  margin: 5rem 0;
  color: var(--main-accent-color);
  font-size: var(--x-large);
  text-align: center;
}

#home-page > .citizen-box > .text-box > p{
  font-size: var(--small);
  text-align: center;
  line-height: 1.25;
}


/* 
  CITIZEN STATISTICS SECTION
*/
#home-page > .citizen-box > .citizen-statistics{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  row-gap: 4rem;
  column-gap: 6rem;
}

#home-page > .citizen-box > .citizen-statistics > .statistic-card{
  display: flex;
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: #F9F8F4;
  border-radius: 3rem;
  box-shadow: 1.2rem 2rem 4rem 0 rgba(0, 0, 0, .1);
}

#home-page > .citizen-box > .citizen-statistics > .statistic-card > .badge{
  width: 10rem;
  height: 10rem;
  padding-left: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.2rem;
  right: 2.5rem;
  color: #FFF;
  background-image: url("../../assets/images/statistic-badge.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#home-page > .citizen-box > .citizen-statistics > .statistic-card > .badge > h3{
  width: auto;
  font-size: calc(var(--large) + 1rem);
}

/* ICON BOX */
#home-page > .citizen-box > .citizen-statistics > .statistic-card > .icon-box{
  width: auto;
  margin-bottom: 4.5rem;
  padding: 1rem;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: var(--main-color);
}

#home-page > .citizen-box > .citizen-statistics > .statistic-card > .icon-box > .icon_peoples-fff{
  --icon-size: 2.4rem;
}

/* TEXT BOX */
#home-page > .citizen-box > .citizen-statistics > .statistic-card > .text-box{
  width: 100%;
}


#home-page > .citizen-box > .citizen-statistics > .statistic-card > .text-box > h3{
  margin-bottom: 2.5rem;
  font-size: calc(var(--large) + .4rem);
}

#home-page > .citizen-box > .citizen-statistics > .statistic-card > .text-box > ul  > li{
  margin-bottom: .8rem;
  font-size: var(--small);
  list-style: none;
}


/*
  BLOG SECTION
*/
#home-page > .blog-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
}

#home-page > .blog-box > h2{
  margin: 7rem 0 5rem;
  color: var(--main-accent-color);
  font-size: var(--x-large);
  text-align: center;
}

/* ARTICLES */
#home-page > .blog-box > .articles{
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(17rem, 1fr));
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 1rem 5rem;
}

#home-page > .blog-box > .articles > .article > .text-box > h4 {
  -webkit-line-clamp: 2;
}

/* ICONS AND MEMPHIS */
#home-page > .blog-box > .icon_leaf-grey{
  --icon-size: 60rem;
  position: absolute;
  top: -26rem;
  right: -32rem;
  z-index: -1;
}

#home-page > .blog-box > .icon_paddy-grey{
  --icon-size: 60rem;
  position: absolute;
  bottom: 10rem;
  left: -47rem;
  z-index: -1;
}

#home-page > .blog-box > .icon_flower-grey{
  --icon-size: 40rem;
  position: absolute;
  bottom: -5rem;
  right: -20rem;
  z-index: -1;
}

#home-page > .blog-box > .see-all{
  margin-right: 1rem;
  align-self: flex-end;
  color: var(--main-color);
  font-size: var(--medium);
  font-weight: bold;
  text-decoration: none;
}

#home-page > .blog-box > .see-all:hover{
  text-decoration: underline;
}


/*
  LOADING ANIMATION STYLE
*/

/* HERO SLIDER BOX */
#home-page .hero-box.box-loading::after{
  background-color: transparent;
}



@media (max-width: 1000px) {
  /* ICONS AND MEMPHIS */
  #home-page > .blog-box > .icon_leaf-grey{
    --icon-size: 25rem;
    top: -2rem;
    right: -7rem;
  }

  #home-page > .blog-box > .icon_paddy-grey{
    --icon-size: 40rem;
    bottom: 40rem;
    left: -20rem;
  }
  
  #home-page > .blog-box > .icon_flower-grey{
    --icon-size: 22rem;
    bottom: 0rem;
    right: -5rem;
  }
}



@media (max-width: 800px) {
  /* ICON BOX */
  #home-page > .citizen-box > .citizen-statistics > .data > .icon-box{
    margin-bottom: unset;
    margin-right: 1rem;
  }

  
  /*
    BLOG SECTION
  */

  /* ARTICLES */
  #home-page > .blog-box > .articles{
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2rem 4rem;
  }
}



@media (max-width: 600px) {
  /* 
    CITIZEN STATISTICS SECTION
  */
  #home-page > .citizen-box > .citizen-statistics{
    row-gap: 4rem;
    column-gap: 2rem;
  }


  /*
    HERO SECTION
  */
  #home-page .hero-box > .text-box > h2{
    font-size: var(--xx-large);
  }


  /*
    CONTENT SECTION
  */
  #home-page > .blog-box > .text-box > h2{
    max-width: 27.5rem;
    font-size: var(--x-large);
  }

  /* IMAGE BOX */
  #home-page > .blog-box > img{
    width: 17rem;
    height: 21rem;
  }
}



@media (max-width: 500px) {
  #home-page > .citizen-box > .citizen-statistics > .data{
    width: 100%;
    max-width: 30rem;
  }
}



@media (max-width: 400px) {
  /*
    HERO SECTION
  */
  #home-page .hero-box > .video-box > .icon-volume > .icon_custom{
    --icon-size: 1.5rem;
  }


  /*
    CONTENT SECTION
  */
  #home-page > .blog-box > img{
    width: 40vw;
    height: 50vw;
  }
}