#home-page{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


/*
  HERO SECTION
*/
#home-page > .hero-box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* HERO VIDEO BOX */
#home-page > .hero-box > .video-box{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

#home-page > .hero-box > .video-box > video{
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

#home-page > .hero-box > .video-box > .icon-volume{
  padding: .5rem;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 50%;
  cursor: pointer;
}

#home-page > .hero-box > .video-box > .icon-volume > .icon_custom{
  --icon-size: 2rem;
  background-position-x: calc(var(--icon-size) * -1 * 6);
  background-position-y: calc(var(--icon-size) * -1 * 2);
}

#home-page > .hero-box > .video-box > .icon-volume.muted > .icon_custom{
  background-position-x: calc(var(--icon-size) * -1 * 5);
  background-position-y: calc(var(--icon-size) * -1 * 2);
}


/*
  CITIZEN SECTION
*/
#home-page > .citizen-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXT BOX */
#home-page > .citizen-box > .text-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-page > .citizen-box > .text-box > h2{
  margin: 5rem 0 5rem;
  color: var(--main-accent-color);
  font-size: var(--x-large);
  text-align: center;
}

#home-page > .citizen-box > .text-box > p{
  margin-bottom: 3rem;
  font-size: var(--small);
  text-align: center;
  line-height: 1.25;
}

/* CITIZEN STATISTICS */
#home-page > .citizen-box > .citizen-statistics{
  width: 100%;
  padding: 3rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  background-color: #F9F8F4;
  border: .4rem dashed var(--main-accent-color);
  border-spacing: 2rem;
  border-radius: 5rem;
  box-shadow: 1.2rem 2rem 4rem 0 rgba(0, 0, 0, .1);
}

#home-page > .citizen-box > .citizen-statistics > .data{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#home-page > .citizen-box > .citizen-statistics > .data > .text-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
}

#home-page > .citizen-box > .citizen-statistics > .data > .text-box > h3{
  margin-bottom: 1.5rem;
  font-weight: normal;
}

#home-page > .citizen-box > .citizen-statistics > .data > .text-box > .total{
  margin-bottom: 1.5rem;
  font-size: var(--x-large);
  font-weight: bold;
}


/*
  CONTENT SECTION
*/
#home-page > .content-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* ICONS AND MEMPHIS */
#home-page > .content-box > .icon_leaf-grey{
  --icon-size: 60rem;
  position: absolute;
  top: -26rem;
  right: -32rem;
  z-index: -1;
}

/* TEXT BOX */
#home-page > .content-box > .text-box{
  width: 100%;
  margin-bottom: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-page > .content-box > .text-box > h2{
  margin: 12rem 0 5rem;
  color: var(--main-accent-color);
  font-size: var(--x-large);
  text-align: center;
}

#home-page > .content-box > .text-box > .paragraph-box{
  width: 100%;
  max-width: 70rem;
}

#home-page > .content-box > .text-box > .paragraph-box > p{
  margin-bottom: 3rem;
  font-size: var(--small);
  text-align: center;
  line-height: 1.25;
}

/* IMAGE BOX */
#home-page > .content-box > .img-box{
  width: auto;
  height: auto;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}

#home-page > .content-box > .img-box > img{
  width: 37rem;
  height: 46rem;
  margin: 0 2.2rem;
  border-radius: 1.5rem;
  box-shadow: 0 .7rem 1.8rem 0 rgba(0, 0, 0, .25);
  object-fit: cover;
}

#home-page > .content-box > .img-box > img:nth-child(1){
  transform: rotate(-2.35deg);
}

#home-page > .content-box > .img-box > img:nth-child(2){
  transform: rotate(3.35deg);
}

/* ICONS AND MEMPHIS */
#home-page > .content-box > .img-box > .icon_paddy-grey{
  --icon-size: 60rem;
  position: absolute;
  bottom: -4rem;
  left: -47rem;
  z-index: -1;
}

#home-page > .content-box > .img-box > .icon_flower-grey{
  --icon-size: 40rem;
  position: absolute;
  bottom: -12rem;
  right: -20rem;
  z-index: -1;
}



@media (max-width: 1000px) {
  /*
    CONTENT SECTION
  */
  #home-page > .content-box > .text-box > h2{
    margin: 7rem 0 3rem;
  }

  /* IMAGE BOX */
  #home-page > .content-box > .img-box{
    margin-bottom: 20rem;
  }

  #home-page > .content-box > .img-box > img{
    width: 20rem;
    height: 24rem;
    margin: 0 1rem;
  }

  /* ICONS AND MEMPHIS */
  #home-page > .content-box > .icon_leaf-grey{
    --icon-size: 25rem;
    top: -7rem;
    right: -7rem;
  }

  #home-page > .content-box > .img-box > .icon_paddy-grey{
    --icon-size: 40rem;
    bottom: -20rem;
    left: -14rem;
  }
  
  #home-page > .content-box > .img-box > .icon_flower-grey{
    --icon-size: 22rem;
    bottom: -7rem;
    right: -11.5rem;
  }
}



@media (max-width: 600px) {
  /*
    CONTENT SECTION
  */
  #home-page > .content-box > .text-box > h2{
    max-width: 27.5rem;
    font-size: var(--x-large);
  }

  /* IMAGE BOX */
  #home-page > .content-box > .img-box > img{
    width: 17rem;
    height: 21rem;
  }
}



@media (max-width: 400px) {
  /*
    HERO SECTION
  */
  #home-page > .hero-box > .video-box > .icon-volume > .icon_custom{
    --icon-size: 1.5rem;
  }


  /*
    CONTENT SECTION
  */
  #home-page > .content-box > .img-box > img{
    width: 40vw;
    height: 50vw;
  }
}