#profile-page{
  width: 100%;
  height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*
  HERO SECTION
*/
#profile-page > .hero-box{
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* DARKEN HERO SECTION */
#profile-page > .hero-box::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}

/* HERO SLIDER BOX */
#profile-page > .hero-box > .slider-box{
  width: 100%;
  height: 54rem;
  display: flex;
  overflow: hidden;
  z-index: 0;
}

#profile-page > .hero-box > .slider-box > img{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* TEXT BOX */
#profile-page > .hero-box > .text-box{
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #FFF;
  z-index: 2;
}

#profile-page > .hero-box > .text-box > h2{
  margin-bottom: 2.5rem;
  font-size: calc(var(--x-large) - 8px);
}

#profile-page > .hero-box > .text-box > p{
  margin-bottom: 4rem;
  font-size: var(--small);
  text-align: justify;
  line-height: 1.25;
}

#profile-page > .hero-box > .text-box > span{
  font-size: var(--small);
  display: flex;
  align-items: center;
}

#profile-page > .hero-box > .text-box > span > .icon_location-ff0505{
  --icon-size: 2.8rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}


/*
	CONTENT SECTION
*/
#profile-page > .content-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* HEADING 2 */
#profile-page > .content-box > h2{
	margin-bottom: 3rem;
  color: var(--main-accent-color);
	font-size: calc(var(--x-large) - 1.4rem);
	font-family: "Grand Hotel";
	text-align: center;
}

/* TEXT BOX  */
#profile-page > .content-box > .paragraph-box{
	width: 100%;
	display: flex;
	flex-direction: column;	
}

#profile-page > .content-box > .paragraph-box > p{
	width: 100%;
	margin-bottom: 3rem;
	font-size: var(--small);
}


/*
  LOADING ANIMATION STYLE
*/
#profile-page > .hero-box.box-loading::after{
  background-color: transparent;
}



@media (max-width: 600px) {
	/*
    HERO SECTION
  */
  #profile-page > .hero-box > .text-box > h2{
    font-size: var(--xx-large);
  }

	/* HEADING 2 */
	#profile-page > .content-box > h2{
		font-size: calc(var(--xx-large) + 0.6rem);
	}

	/* TEXT BOX  */
	#profile-page > .content-box > .paragraph-box > p{
		font-size: var(--medium);
	}
}