#profile-page{
  width: 100%;
  height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*
  HERO SECTION
*/
#profile-page > .hero-box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* HERO VIDEO BOX */
#profile-page > .hero-box > .video-box{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

#profile-page > .hero-box > .video-box::after{
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .3s;
  cursor: pointer;
  z-index: 1;
}

#profile-page > .hero-box > .video-box.paused::after{
  background-color: rgba(0, 0, 0, .3);
}

#profile-page > .hero-box > .video-box > video{
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

#profile-page > .hero-box > .video-box > .icon-play{
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transform: scale(2);
  transition: opacity .3s, transform .3s;
  z-index: 2;
}

#profile-page > .hero-box > .video-box.paused > .icon-play{
  opacity: 1;
  transform: scale(1);
}

#profile-page > .hero-box > .video-box > .icon-play > .icon_play-fff{
  --icon-size: 8rem;
}


/*
	CONTENT SECTION
*/
#profile-page > .content-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* HEADING 2 */
#profile-page > .content-box > h2{
	margin: 3rem 0;
  color: var(--main-accent-color);
	font-size: calc(var(--x-large) - 1.4rem);
	font-family: "Grand Hotel";
	text-align: center;
}

/* TEXT BOX  */
#profile-page > .content-box > .paragraph-box{
	width: 100%;
	display: flex;
	flex-direction: column;	
}

#profile-page > .content-box > .paragraph-box > p{
	width: 100%;
	margin-bottom: 3rem;
	font-size: var(--small);
}


/*
  LOADING ANIMATION STYLE
*/
#profile-page > .hero-box.box-loading::after{
  background-color: transparent;
}



@media (max-width: 600px) {
	/*
    HERO SECTION
  */
  /* HERO VIDEO BOX */
  #profile-page > .hero-box > .video-box > .icon-play > .icon_play-fff{
    --icon-size: 6rem;
  }


  /*
    CONTENT SECTION
  */
  /* HEADING 2 */
	#profile-page > .content-box > h2{
		font-size: var(--x-large);
	}

	/* TEXT BOX  */
	#profile-page > .content-box > .paragraph-box > p{
		font-size: var(--small);
	}
}