#blog-detail-page{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#blog-detail-page > .container{
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  TITLE BOX
*/
#blog-detail-page .title-box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

#blog-detail-page .title-box > .back{
  position:absolute;
  top: 0;
  left: 0;
  color: var(--main-accent-color);
  font-size: calc(var(--x-large) - 1rem);
  text-decoration: none;
  text-shadow: .05rem .05rem var(--main-accent-color);
  line-height: .5;
  background: none;
  border: none;
  cursor: pointer;
}

#blog-detail-page .title-box > .back:hover{
  color: var(--main-color);
  text-shadow: .05rem .05rem var(--main-color);
}

#blog-detail-page .title-box > .published{
  margin-bottom: 4rem;
  color: var(--main-color);
  font-size: var(--medium);
}

#blog-detail-page .title-box > h2{
  margin-bottom: 4rem;
  color: var(--main-accent-color);
  font-size: var(--xx-large);
}

#blog-detail-page .title-box > .tags{
  margin-bottom: 5rem;
  color: var(--main-color);
  font-size: var(--medium);
}


/*
  IMG BOX
*/
#blog-detail-page .img-box{
  width: 100%;
  margin-bottom: 5rem;
  padding-top: 55%;
  position: relative;
  border-radius: 1rem;
}

#blog-detail-page .img-box > img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #C4C4C4;
  border-radius: 1rem;
  object-fit: cover;
}


/*
  TEXT BOX
*/
#blog-detail-page .text-box{
  width: 100%;
  font-size: var(--small);
  line-height: 1.25;
}

#blog-detail-page .text-box > h1,
#blog-detail-page .text-box > h2,
#blog-detail-page .text-box > h3,
#blog-detail-page .text-box > h4,
#blog-detail-page .text-box > h5,
#blog-detail-page .text-box > h6{
  margin: 5rem 0 2rem 0;
}

#blog-detail-page .text-box > h1{ font-size: calc(var(--large) * 2) }
#blog-detail-page .text-box > h2{ font-size: calc(var(--large) * 1.8) }
#blog-detail-page .text-box > h3{ font-size: calc(var(--large) * 1.6) }
#blog-detail-page .text-box > h4{ font-size: calc(var(--large) * 1.4) }
#blog-detail-page .text-box > h5{ font-size: calc(var(--large) * 1.2) }
#blog-detail-page .text-box > h6{ font-size: calc(var(--large) * 1) }

#blog-detail-page .text-box > p{
  margin-bottom: 2rem;
}

#blog-detail-page .text-box img{
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}


/*
  LOADING ANIMATION STYLE
*/
#blog-detail-page .title-box > .published.box-loading{
  width: 80%;
  max-width: 25rem;
  min-height: 2rem;
  color: transparent;
  border-radius: 0.5rem;
}

#blog-detail-page .title-box > h2.box-loading{
  width: 100%;
  min-height: 6rem;
  display: inline-block;
  border-radius: 1rem;
}

#blog-detail-page .title-box > .tags.box-loading{
  width: 100%;
  max-width: 40rem;
  min-height: 2rem;
  border-radius: 0.5rem;
}

#blog-detail-page .text-box.box-loading{
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
}

#blog-detail-page .img-box.box-loading > img{
  background-color: transparent;
}



@media (max-width: 600px) {
  /* HEADING 2 */
  #blog-detail-page .title-box > .back{
    font-size: var(--x-large);
    line-height: .7;
  }

  #blog-detail-page .title-box > .published,
  #blog-detail-page .title-box > h2{
    margin-bottom: 2rem;
  }
  
  #blog-detail-page .title-box > .tags{
    margin-bottom: 5rem;
  }
}